<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calendar This!</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2].strftime('%H:%M') }}</td>
                    <td>{{ row[3].strftime('%H:%M') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>